{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

{{data.body.section1 | md}}

{% endmarkdown %}

<div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
        <div>
          {% include "bubble_fees_600px.html" %}
        </div>
      </div>
    </div>
  </div>

{% markdown %}

{{data.body.section2 | md}}

{% endmarkdown %}

<div class="o-grid-container">
    <div class="o-grid-row">
      <!-- <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7"> -->
        <div data-o-grid-colspan="">
        <div>
          {% include "scatterplots_composite_600px.html" %}
        </div>
      </div>
    </div>
  </div>

{% markdown %}

{{data.body.section3 | md}}

{% endmarkdown %}

<div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12">
        <div>
          {% include "table.html" %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
