{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      {% markdown %}
      {{data.body.section1 | md}}
      {% endmarkdown %}
    </div>
  </div>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <div>
        {% include "bubble_fees_600px.html" %}
      </div>
    </div>
  </div>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      {% markdown %}
      {{data.body.section2 | md}}
      {% endmarkdown %}
    </div>
  </div>
</div>

<!-- <div class="o-teaser o-teaser--large">
  <div class="o-teaser__content">
    <a href="#" class="o-teaser__tag">Mergers & Acquisitions</a>
    <h2 class="o-teaser__heading"><a href="#">Boutique advisers crash M&A league table thanks to high fees</a></h2>
    <div class="o-teaser__timestamp">
      <time data-o-component="o-date" class="o-date" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
    </div>
  </div>
</div> -->

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="S11 Scenter M10 L10 XL10">
      <div>
        {% include "scatterplots_composite_600px.html" %}
      </div>
    </div>
  </div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      {% markdown %}
      {{data.body.section3 | md}}
      {% endmarkdown %}
    </div>
  </div>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="">
      <div>
        {% include "table.html" %}
      </div>
    </div>
  </div>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <div class="methodology">
      {% markdown %}
      {{data.body.section4 | md}}
      {% endmarkdown %}
      </div>
    </div>
  </div>
</div>

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <div class="sidebar">
      {% markdown %}
      {{data.body.section5 | md}}
      {% endmarkdown %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
